@import "src/style/theme";

div {
  width: var(--aside-icons-size);
  height: var(--aside-icons-size);
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 5px;
  @include transitionDefault;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: .7;
    border-radius: 5px;
    cursor: pointer;
  }
}

img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  overflow: hidden;
}

.activeView {
  border: 3px solid black;
  border-radius: 10px;
}
