.elementPhotoSection {
  $p: 60px;
  padding-top: $p;
  padding-bottom: $p;
  display: flex;
  flex-direction: row;

  &:nth-child(even) {
    flex-direction: row-reverse;
    border-bottom: 1px dashed gainsboro;
  }

  h2 {
    color: #151515;
    padding: 0;
    margin: 0;
    font-weight: 200;
    line-height: 1.2em;
  }

  p {
    line-height: 1.7;
    margin-bottom: 0;
    color: rgb(133, 133, 133);
    font-size: 16px;
    margin-top: 50px;
  }

  &__left {
    display: flex;
    padding-right: 30px;
    flex: 0 0 55%;

    img {
      flex: 1;
      width: 50% !important;

      &:first-child {
        padding-right: 20px;
      }
    }
  }
}
