@import "src/style/theme";

.index {
  display: flex;
  align-items: center;
  padding: 40px;
  min-width: 500px;
}

.right {
  margin-left: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin-bottom: 0;

  & + span {
    font-size: .9em;
    margin-bottom: 20px;
    display: block;
  }
}

li, h2, span {
  color: white;
}

li {
  font-size: .8em;
}
