form {
  :global(.container) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 80px 200px 80px 200px;
  }

  h2 {
    grid-column: 1 / 4;
    text-align: center;
  }

  p {
    text-align: center;
    grid-column: 1 / 4;
    color: #858585;
    margin-bottom: 40px;
    font-size: 16px;
  }

  :global(.field--textarea) {
    grid-column: 1 / 4;
  }

  :global(.button) {
    grid-column: 1;
  }
}
