.populateMessage {
  background-color: #151515;
  padding: 98px 108px;

  h4 {
    line-height: 2.2rem;
    font-style: italic;
    font-size: 32px;
    margin-bottom: 1.5em;
  }

  h4, p {
    text-align: center;
    color: white;
  }
}
