@import "src/style/theme";

section {
  overflow: hidden;
}

.apps {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.access {
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(40, 70px);
  grid-auto-flow: column;
  grid-template-rows: repeat(13, 70px);
  grid-gap: 10px;
  padding: 10px;
}
