.index {
  display: flex;
  min-width: 500px;
  padding: 20px;
  color: white;
  font-size: .9em;
}

.right {
  margin-left: 20px;
}

img {
  $size: 80px;
  width: $size;
  height: $size;
}

nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-size: .8em;
}
