body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
  background: #000;
}

* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
