@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@function calculateEm($size) {
  $remSize: $size / 16px;
  @return $remSize * 1em;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transitionDefault() {
  @include transition(all .3s ease-in-out);
}

@mixin transform($important: "", $attr...) {
  transform: $attr $important;
  -moz-transform: $attr $important;
  -webkit-transform: $attr $important;
  -o-transform: $attr $important;
  -ms-transform: $attr $important;
}

@mixin shadow($attr...) {
  box-shadow: $attr;
  -webkit-box-shadow: $attr;
  -moz-box-shadow: $attr;
  -o-box-shadow: $attr;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: .3rem;
  }

  & {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #5651B7;
  }

  &::-webkit-scrollbar-track {
    background: #392E3D;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d274c8;
    border-radius: .5rem;
    background: #706bd0;
    background: linear-gradient(180deg, #323130 0%, #464637 100%);
    border: 1px solid rgba(86, 81, 183, 0.5);
  }
}

@mixin truncate() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
