$theme-principal: #42396A;
$aside-icons-size: 40px;
$aside-width: 65px;

:root {
  --aside-width: 65px;
  --aside-icons-size: 40px;
  --icons-size: 40px;
  --button-color: rgb(96, 95, 92);
  --button-font-size: .9em;
}
