.index {
  display: flex;
  align-items: center;
  min-width: 500px;
  padding: 40px;
  justify-content: space-between;

  & + & {
    border-top: 1px solid #464646;
  }
}

p {
  margin: 0;
  padding: 0;
  color: white;
}

img {
  $size: 60px;
  width: $size;
  height: $size;
}

nav {
  display: flex;
  flex-direction: column;
  color: white;
}

a {
  text-decoration: none;
  font-size: .9em;
}
