section {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;

  :global(.image) {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

div {
  padding: 15px 10px;
  line-height: 1.2;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  font-size: 12px;
}

h3 {
  margin: 0;
  flex: 1;
}

i {
  font-size: 10px;
  display: block;
}
