.FormCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5em;
  max-width: 10em;
  padding: 2em;
  height: 10em;
  width: 10em;
  box-shadow: 13px 13px 12px -20px;
  animation: startAnimation 2s linear forwards, endAnimation 1s linear 2s forwards;
}

@keyframes startAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0.0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}


@keyframes endAnimation {
  0% {
    max-width: 10em;
    width: 100%;
    height: auto;
  }
  50% {
    max-width: 15em;
    width: 100%;
    height: auto;
  }
  100% {
    max-width: 20em;
    width: 100%;
    height: auto;
    border-radius: 35% 20px;
  }
}
