.gallerySection {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 40px;
  padding-left: 40px;
  padding-right: 40px;

  aside {
    $p: 80px;
    padding-top: $p;
    padding-bottom: $p;
  }

  section {
    $p: 80px;
    padding-top: $p;
    padding-bottom: $p;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    :global(.image) {
      object-fit: cover;
      height: 300px;
    }

    :global(.pagination) {
      grid-column: span 4;
    }
  }

  article {
    @include transition-default;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}

aside {
  li.active {
    color: $selected;
  }
}
